 <%= form_with(model: @mees, local: true) do |f| %>

<%= f.text_field :q_1, placeholder: "text", rows: "10" %>
<%= f.text_field :q_2, placeholder: "text", rows: "10" %>
<%= f.text_field :q_3, placeholder: "text", rows: "10" %>
<%= f.text_field :q_4, placeholder: "text", rows: "10" %>
<%= f.text_field :q_5, placeholder: "text", rows: "10" %>
<%= f.text_field :q_6, placeholder: "text", rows: "10" %>
<%= f.text_field :q_7, placeholder: "text", rows: "10" %>

       <%= f.submit "SEND" %>
    <% end %> 

<div style="background:skyblue; display:table-cell;">
 <h2>質問フォーマット</h2>


<h2>【質問の箇所】</h2>
<div class="box1"> 
<p>最終課題　サーバーサイド</p></div>

<h2>【質問の内容】</h2>
<div class="box1"> 
<p>■ エラー画面のスクリーンショット
<br>スクリーンショットを貼る</p></div>

<h2>■ 問題に関するVScodeのファイル全体のスクリーンショット</h2>
<div class="box1"> 
　スクリーンショットを貼る</div>

<h2>■ 問題に関するターミナルやコンソールのスクリーンショット</h2>
<div class="box1"> 
　スクリーンショットを貼る</div>

<h2>■ 解決したいこと</h2>
<div class="box1"> 
　（例）クレジットカードを用いた購入機能を実装中。
　カード情報のトークン生成はできているが、トークン情報がパラメーターとして取れない。</div>

<h2>■ 調べた内容とそこから立てた仮説</h2>
<div class="box1"> 
　（例）公式リファレンスを参考に購入機能を実装してみたが、
　トークンが決済処理の値として取れずに決済ができない。
　トークンの生成までは出来ているので、JSからパラメーターが送れていないか、
　コントローラーでの受け取りができていないのではないか？また、トークンは受け取れているが、
　秘密鍵の設定ミスではないかと疑い、デバックを行ったが秘密鍵の値は間違ってはいなかった。</div>

<h2>■ 仮説を元に行った作業内容</h2>
<div class="box1"> 
　（例）コントローラーにbinding.pryを設け処理をとめた。
　何が受け取れているのかを確認したところ、トークンの受け取りは確認できなかった。
　JSからパラメーターが送られていないのか確認しようとしたが、適切に確認できているのか
　分からなかった。</div>
<h2>タグ</h2>
<div class="box1"> 
</div></div>