<!DOCTYPE html>
<html>
  <head>
    <title>Meq</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="flexbox">
        <div class="list">
        <%= link_to "作成する",new_mee_path %></div>
        <article class="main">
            <!-- カラム 2 ここから -->
            <%= yield %>
                <!-- カラム 2 ここまで -->
        </article>
        </div>
  </body>
</html>
